<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: 'Page not found'}) %>
  <link rel="stylesheet" href="/css/page_not_found.css">
</head>
<body>
  <header><%- include('../partials/header') %></header>
  <h1 class="noti">Page not found</h1>
  <footer><%- include('../partials/footer') %></footer>
</body>
</html>